@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;1,300&family=Sedgwick+Ave+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;


}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    top: 0;
    background-color: #151515;
    border-bottom: 3px solid #272727;
    position: fixed;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #00d2df;
    font-size: 32px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.nav-list ul li a:hover{
    border-bottom: 2px solid aqua;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}



.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


.box-section {
    margin-top: 80px;
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.box-section h1 {
    color: #c4c4c4;
    margin: 14px;
    text-align: center;
}

.box-section span {
    font-size: 3rem;
    text-transform: uppercase;
    color: #00d2df;
    font-weight: 600;
    letter-spacing: 3px;
}

.box-section .info-isaac {
    margin-right: 250px;
}

.principal_input-cursor {
    display: inline-block;
    width: 3px;
    height: 42px;
    background-color: white;
    position: relative;
    top: 3px;
    animation: blink 0.6s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.principal-botao {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Poppins', sans-serif;

}

.principal-botao i {
    border-radius: 20px;
    margin: 10px;

}

.principal-botao a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 0 12px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    display: inline-block; /* defina o display como inline-block para ajustar a largura */
    width: auto; /* defina a largura como auto para garantir que ela seja calculada corretamente */
  }
  
  .principal-botao a:hover {
    background: #003840;
    border-bottom-color: #00d2df;
    border-radius: 20px;
  }
  


.box-section .imagem-isaac img {

    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgb(7, 152, 248);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

/* SOBRE MIM */

.box-sobre{
    display: flex;
    align-items: center;
    background-color: #151515;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100vh;
}

.info-sobre{
    margin-left: 70px;
    color:#c4c4c4;
    text-align: justify;
    width: 50%;
    
}
.info-sobre  p{
    padding-top: 25px;
    font-size: 18px;

}

.info-sobre h1{
    margin-top: 50px;
    font-size: 23px;
    padding-bottom: 20px;
    display: flex;
    justify-content: left;
}

.info-sobre span{
    font-size: 21px;
    font-style: italic;
}


.img-sobre img{
    width: 298px;
    height: 298px;
    margin-left: 100px;
    border-left: 5px solid  #00d2df ;
    object-fit: cover;
    border-radius: 10px;
  }


  /* PROJETOS */
  #projetos h1{
    text-align: center;
    color: white;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #f38f0c;
  }
  
  .card-1 .card-local {
    color: #f38f0c;
  }
  
  .card-2 .card-footer {
    background-color: #d12761;
  }
  
  .card-2 .card-local {
    color: #d12761;
  }
  
  .card-3 .card-footer {
    background-color: #3f423f;
  }
  
  .card-3 .card-local {
    color: #3f423f;
  }
  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
    box-shadow: 0 0 50px aqua;
}

/* PARTE DAS LINGUAGENS MAIS USADAS */

#linguagens{
    background-color: #272727;
    color: black;
   
}

.titulo-ling{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
}

 .container-ling{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 300px;

}

#linguagens .container-ling img{
    display: flex;
    width: 200px;
    padding: 15px;
    border-radius: 50px;
}


/* PARTE DO FOOTER */

footer{
    width: 100%;
    height: 80px;
}

.box-footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: aqua;
    font-size: 15px;
}


/* PARTE RESPONSIVA DO SITE */


@media screen and (max-width: 999px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        position: static;
    }
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
    .box-section{
        display: flex;
        
        min-width: 399px;
        flex-direction: column;
        margin-top: 50px;
    }

    .box-section .info-isaac{
        text-align: center;
        margin-left: 260px;
    }

    .box-section .imagem-isaac{
        margin-top: 20px;
    }

    .box-section .imagem-isaac img{
        
        animation: none !important;
    }
    .box-sobre{
        margin-top: 80px;
        padding-right: 67px;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;
       
    }

    .info-sobre{
        min-width: 100%;
    }

    .box-sobre .info-sobre p{
        width: 100%;
        padding-top: 0;
        font-size: 14px;
        
    }

    .box-sobre .info-sobre h1{
         text-align: center;
         padding-bottom: 0;
    }
    .box-sobre .info-sobre span{
        padding-top: 0;
        font-size: 18px;
        font-style: italic;
   }

   .box-sobre .img-sobre{
    margin-top: 45px;
   }

   #linguagens .container-ling img{
    display: flex;
    width: 120px;
    padding: 5px;
    border-radius: 50px;
}



    



}